.wallet-modal{
	width: 100%;
	height: 100%;
	background: rgba(128, 128, 128, 0.5);
	position: fixed;
	margin: 0 auto;
	left: 0;
	top: 0;
	z-index: 10;
}

.wallet-modal-content{
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  min-width: 35rem;
  width: fit-content;
  position: relative;
  top: 100px;
  border-radius: 1rem;
}

.wallet-modal-close{
  color: #aaaaaa;
  float: right;
  font-size: 2rem;
  font-weight: bold;
}

.wallet-modal-close:hover, .wallet-modal-close:focus{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.wallet-modal-wallet-button{
	width: 100%;
	height: 3rem;
	border-radius: 0.5rem;
	border: 2px solid grey;
}

.wallet-modal-wallet-button:hover{
	border: 2px solid orange;
}

.wallet-modal-wallet-button p{
	display: inline-block;
}

.wallet-modal-wallet-button img{
	display: inline-block;
	float: right;
	margin-top: 0.4rem;
	margin-right: 0.5rem;
}

.wallet-modal-disconnect-button{
	margin: auto;
	min-width: 15rem;
	height: 2.5rem;
	border-radius: 0.8rem;
	background: rgba(255, 140, 0, 0.5);
	border: 2px solid transparent;
	color: red;
	font-size: 1rem;
}

.wallet-modal-disconnect-button:hover{
	border-color: orange;
}
